.content-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-top: 30px;
	padding: 20px;
}

.person-pic {
	margin-top: 35px;
}

.video-container {
	width: 1280px;
	display: flex;
	justify-content: center;
	position: relative;
	margin: 45px auto;
}

.video-container::after {
	content: "";
	display: block;
	width: 100%;
	padding-top: 45%;
}

.video-container iframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.star-container {
	display: flex;
	flex-direction: row; /* 确保盒子横向排列 */
	justify-content: space-around; /* 盒子之间的间距 */
	align-items: center;
	gap: 20px; /* 盒子之间的间隙 */
	padding: 40px;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #1c1c1c; /* 背景颜色 */
	border-radius: 15px;
}

/* 星级样式调整 */
.star-box {
	width: 250px;
	height: 250px;
	background-color: #2e2e2e;
	color: white;
	border-radius: 20px;
	text-align: center;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease;
}
.star-box:hover {
	transform: scale(1.05);
}
.star-rating {
	font-size: 24px;
	font-weight: bold;
}

.star-description {
	margin-top: 10px;
	font-size: 16px;
}

.star-images {
	display: flex;
	justify-content: center;
	gap: 5px;
	margin-top: 30px;
}
.star-images img {
	width: 70px; /* 调整宽度 */
	height: 70px; /* 调整高度 */
}
.main {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
.main .img-wrap {
	display: block;
	width: 100%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 15px;
}

.main .img-wrap:hover img {
	transform: scale(1.17);
}

.main .img-wrap img {
	display: block;
	width: 100%;
	height: auto;
	transition: all 0.4s;
}

.main .title {
	font-size: 26px;
	text-align: center;
	margin: 25px 0;
}

.person-pic {
	width: 500px;
}

.main li {
	margin-bottom: 7px;
}
/* logo区域 */
.recommed-list {
	display: flex;
	justify-content: space-around;
	margin: 25px auto;
}

.recommed-list .item {
	width: 37%;
	background-color: #fff;
	border-radius: 15px;
	overflow: hidden;
	text-decoration: none;
}
.recommed-list .item:hover {
	text-decoration: none;
}

.recommed-list .item .img {
	width: 100%;
	padding-top: 65%;
	position: relative;
	overflow: hidden;
	background-color: #fff;
}

.recommed-list .item .img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.45s ease;
	object-fit: contain;
}
.recommed-list .item .img:hover img {
	transform: scale(1.17);
}

.recommed-list .item .text {
	font-size: 16px;
	color: #000;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	overflow-wrap: break-word;
	padding: 10px;
	border-top: 2px solid #ccc;
	position: relative;
}
.recommed-list .item .text:hover {
	color: skyblue;
}

@media (max-width: 1240px) {
	.main {
		width: 90%;
	}
}
@media (max-width: 768px) {
	.main,
	.page-content {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		box-sizing: border-box;
	}

	.person-pic {
		width: 90%;
	}

	.recommed-list {
		justify-content: space-between;
	}

	.recommed-list .item {
		width: 47%;
	}

	.recommed-list .item .text {
		font-size: 14px;
	}
}
