* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}

/* 引入的字体文件 */
/* 标题字体文件 */
@font-face {
	font-family: "title";
	src: url(../fonts/title.ttf);
}

/* 副标题 */
@font-face {
	font-family: "subTitle";
	src: url(../fonts/subTitle.otf);
}
/* 小字体 */
@font-face {
	font-family: "other";
	src: url(../fonts/minFont.ttf);
}

/* 标题加这个类名 */
.title-family {
	font-family: "title", sans-serif !important;
}
/* 副标题加这个类名 */
.subTitle-family {
	font-family: "subTitle", sans-serif !important;
}
/* 其余小字体加这个类名 */
.other-family {
	font-family: "other", sans-serif !important;
}
.welcome-wrap {
	width: 100%;
	height: 100vh;
	background-image: url(../images/NewYorkCity_Zalkus_150dpi.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.welcome-title {
	font-size: 32px;
	text-align: center;
	color: #21501e;
	margin-bottom: 10vh;
	margin-top: 26vh;
	animation: animate 1s;
}

.btns {
	display: flex;
	justify-content: space-between;
	width: 600px;
	margin: 20px auto;
	flex-wrap: wrap;
	animation: animate 2s;
}
.btns a {
	width: 30%;
	border-radius: 15px;
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
	margin-bottom: 25px;
	transition: all 0.35s ease;
	font-family: "other", sans-serif;
	font-weight: bold;
}
.btns a:hover {
	text-decoration: none;
	transform: scale(1.07);
}

.btns a span {
	background-color: #225021;
	border-radius: 7px;
	text-align: center;
	display: block;
	min-height: 60px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 768px) {
	.btns {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.btns a {
		width: 47.6%;
		font-size: 17px;
	}

	.welcome-title {
		font-size: 26px;
		margin-top: 21vh;
	}
}

@keyframes animate {
	from {
		transform: translateY(60px);
	}
	to {
		transform: translateY(0);
	}
}
