body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #C9E6CA, #348F50);
}

header {
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;
}

header p {
    font-size: 1.2em;
    margin-top: 5px;
    letter-spacing: 1px;
}

main {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h3 {
    font-size: 1.6em;
    color: #3B3B3B;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.cuisine-section {
    margin-bottom: 40px;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    color: #6F6F6F;
}
